<%- include('partials/header') %>

<div align="center">
    <a class="btn btn-dark btn-lg mt-5" href="/addEvent" role="button">Add an Event</a>
</div>
<div align="center">
    
    <%for (var i = 0; i < eventsArr.length; i++) { %>
        <div id="view-events" style="margin: 70px;">
            <h3><%= eventsArr[i].title %></h3>
            <p class="lead">Date: <%= eventsArr[i].date %></p>
            <p class="lead">Time: <%= eventsArr[i].time %></p>
            <p class="lead">Location: <%= eventsArr[i].location %></p>
            <a class="btn btn-info btn-md" href="/events/<%= eventsArr[i].title %>" role="button">View this event</a>
        </div>              
    <%}%>
    <a class="btn btn-dark btn-lg" href="/" role="button">Return to homepage</a>
</div>

<%- include('partials/footer') %>