<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container text-center">
        <h3><%= EventId.title %></h3>
        <p class="lead">Date: <%= EventId.date %></p>
        <p class="lead">Time: <%= EventId.time %></p>
        <p class="lead">Location: <%= EventId.location %></p>
    </div>
</div>

<div align="center">
    <div id="view-events" style="margin: 70px;">
        <h5>Description</h5>
        <p class="lead"><%= EventId.description %></p>
        <img src="https://teamcolorcodes.com/wp-content/uploads/2015/11/Clemson-Tigers-Logo-JPG.jpg" alt="Clemson University" style="width:25%;height:25%;">
        
    </div>
    <a class="btn btn-dark btn-lg" href="/successEvent" role="button">Add this event</a>
    <a class="btn btn-dark btn-lg" href="/" role="button">Return to homepage</a>
</div>


<%- include('partials/footer') %>